#c0 { background: url(data:,Hello%20World!); }

/* this should not affect the page in browser */

body {
    background: green;
    padding-left: expression(alert("OMG"));
}
    
@media screen {
    body {
        background: red;
        padding-left: expression(alert("OMG"));
    }
}
